body {
	background: #efb5a2;
	height: 100%;
	font-size:14px;
	font-family: rooney-sans, sans-serif;
	color: #2d2724;
	}


main {
	background-color: rgba(243, 213, 203); 
	margin: auto;
	margin-top: 10rem;
	width: 50%;
	max-width: 800px;
	padding: 2rem 4rem 4rem 4rem;
	position: relative;
	border-radius: 6px;
}


.box {
	width: 40%;
	height: 100%;
	background-image: url(../images/pattern.svg);
	background-size: 50%;
	background-repeat: repeat;
	position: absolute;
	top:0;
	left: 0;
	opacity: 0.9;
} 		

/*
h1 {
  font-size: 4em;
  font-family: 'Playfair Display', serif;
	text-align: left;
	color: #2d2724;
}

p {
	margin-top: 3.2em;
	font-size: 1em;
	line-height: 2em;
}

em {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 1.3em;
	font-style: normal;
}
*/

h1 {
	font-size: 6em;
	letter-spacing: -2px;
	line-height: 5.2rem;
	font-family: rooney-sans, sans-serif;
	font-weight: 700;
	  text-align: left;
	  color: #2d2724;
  }
  
  p {
	  margin-top: 3.2em;
	  font-size: 1.2em;
	  line-height: 2em;
  }
  
  em {
	  font-family: rooney-sans, sans-serif;
	  font-weight: 700;
	  font-size: 1.5em;
	  font-style: normal;
  }
  

a{
	color: #2d2724;
	font-weight: 700;
}

a:hover{
	color: #efb5a2;
	font-weight: 700;
}


.content{
	margin: auto;
	max-width: 700px;
}


.less-padding {
	margin-top: 1.6em;
}



footer {
		padding-top: 2%;
}


@media only screen and (max-width: 1215px) {
	/* For mobile phones: */
	.box {
		width: 100%;
		height: 100%;
		background-image: url(../images/pattern.svg);
		background-size: 50%;
		background-repeat: repeat;
		position: absolute;
		top:0;
		left: 0;
		opacity: 0.9;
	} 	
	  

	main {
		background-color: rgba(243, 213, 203); 
		margin: auto;
		margin-top: 7%;
		width: 70%;
		padding: 2rem 4rem 4rem 4rem;
		position: relative;
		border-radius: 6px;
	}

	.content{
		margin: auto;
		max-width: 700px;
	}

  }