


body {
	background-color: #C9FFEF;
	font-size:14px;
  font-family: 'Work Sans', sans-serif;
	color: #282F30;
	}


main {
	background-color: #fff;
	margin: auto;
	margin-top: 100px;
	width: 50%;
	max-width: 700px;
	padding: 10px 40px 40px 40px;
	border-radius: 5px;
	}

h1 {
  font-size: 4em;
  font-family: 'Playfair Display', serif;
	text-align: left;
	color: #FF6663;
}

p {
	margin-top: 40px;
	font-size: 1em;
	line-height: 2em;
}

em {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 1.3em;
	font-style: normal;
}


a{
	color: #FF6663;
}

.content{
	margin: auto;
	max-width: 500px;
}

.less-padding {
	margin-top: 20px;
}

footer {
		margin: auto;
		width: 50%;
		padding-top: 2%;
}
